<app-header [user_profileImg]="user_profileImg" [user_name]="user_name"></app-header>

<!-- component -->
<app-banner [bannerTitle]="(bannerDetail$ | async)?.original_title"
            [bannerOverview]="(bannerDetail$ | async)?.overview"
            [key]="(bannerVideo$ | async)?.results[0].key"/>

<app-movie-carousal [videoContents]="movies" title="Movies" [attr.id]="navListIds[0]"></app-movie-carousal>
<app-movie-carousal [videoContents]="tvShows" title="TV Shows" [attr.id]="navListIds[1]"></app-movie-carousal>
<app-movie-carousal [videoContents]="nowPlayingMovies" title="Now Playing Movies"
                    [attr.id]="navListIds[2]"></app-movie-carousal>
<app-movie-carousal [videoContents]="popularMovies" title="Popular Movies"
                    [attr.id]="navListIds[3]"></app-movie-carousal>
<app-movie-carousal [videoContents]="topRatedMovies" title="Top Rated Movies"
                    [attr.id]="navListIds[4]"></app-movie-carousal>
<app-movie-carousal [videoContents]="upcomingMovies" title="Upcoming Movies"
                    [attr.id]="navListIds[5]"></app-movie-carousal>

<!-- Scroll to Top Button -->
<button #scrollToTopButton
        class="fixed bg-[#ff0000] text-white cursor-pointer z-50 p-2.5 rounded-full border-[none] right-5 bottom-5"
        (click)="scrollToTop()">
  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
       viewBox="0 0 14 8">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M13 7 7.674 1.3a.91.91 0 0 0-1.348 0L1 7"/>
  </svg>
</button>
<!--<button class="scroll-to-top" (click)="scrollToTop()">Scroll to Top</button>-->
